* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #27aedb;
  text-align: center;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
}
